[submodule "deps/ckb-c-stdlib"]
	path = deps/ckb-c-stdlib
	url = https://github.com/nervosnetwork/ckb-c-stdlib.git
[submodule "deps/secp256k1"]
	path = deps/secp256k1
	url = https://github.com/nervosnetwork/secp256k1.git
[submodule "deps/libecc-riscv-optimized"]
	path = deps/libecc-riscv-optimized
	url = https://github.com/dotbitHQ/libecc-riscv-optimized.git
[submodule "tools/ckb-binary-patcher"]
	path = tools/ckb-binary-patcher
	url = https://github.com/nervosnetwork/ckb-binary-patcher.git


